.header {
    width: 100vw;
    background: #1F7A8C;
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 9999;
}

.logo {
    margin-left: 35px;
    margin-top: 10px;
}

.navegacaoMenu {
    color: #BFDBF7;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 147px;
    margin-left: 230px;
}